<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Semen</title>
	<link rel="stylesheet" href="http://localhost:8080/style/style.css" type="text/css">
</head>
<body>
	<nav></nav>
	<content>
		<p> {{ massege }} </p>
		<table id = "add1">
			<tr id = "info">
				<td>
					<img src="http://localhost:8080/my_foto.png" alt="фото пользвателя"></td>
				<td>
					<div>
						<h1>Кирикович Семен</h1>
					</div>
					<div>
						<p>Дата рождения: 16.11.1991.</p>
						<p>Город: Брест.</p>
						<p>Контактный номер: +375333318131</p>
						<p>Email: semenkirykovich@gmail.com</p>
						<p>GitHub: https://github.com/Semen-K</p>
					</div>
				</td>
			</tr>
			<tr id = "control">
				<td colspan="2">
					<h2>The task Ajax/DOM.</h2>
					<h3>Choose a topic of news articles.</h3>
					<label for = "check1">Sport.</label>
					<input id = "check0" type = "checkbox" name = "sport">
					<label for = "check1">Politic.</label>
					<input id = "check1" type ="checkbox" name = "politic">
					<label for = "check2">General.</label>
					<input id = "check2" type="checkbox"  name = "general">
					<input id = "click_my" type="submit"  value="choose" >
				</td>
			</tr>
		</table>
		<table id = "add"></table>
	</content>
	<footer>
		<a href=" https://newsapi.org">Articles from the resource: https://newsapi.org</a>
	</footer>

</body>
</html>